#weekday {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px -3px 0px rgba(255,255,2,0.4);
    height: 50px;
    background: #fdffab;
}


#weekday li{
    width: 10%;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 0;
   
    padding-left: 10px;
    float: left;

   

}
#date {
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1);
}



#date li {
    width: 10%;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 0;
    
    padding-left: 10px;
    float: left;
   
}


/* datebyvue.css (45, 15) */
#headmessage {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#ffd3b6, #ffaaa5);
    border-radius: 10px 10px 0 0;
}

/* datebyvue.css (49, 8) */
#main {
    width: 600px;
    margin-top: 80px;
    margin-left: 400px;
    background-color: #a8e6cf;
    border-radius: 10px;
}


/* http://127.0.0.1:5500/FE6/datebyvue.html */

/* http://127.0.0.1:5500/FE6/datebyvue.html */
body {
    font-family: 微软雅黑;
}

#last {
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: none;
    margin-left: 20px;
}

#next{
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: none;
    margin-right: 20px;
}

#yearandmonth {
    margin-top: 10px;
}

